tas-service/src/main/axis2/service.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--
  Copyright (c) 2005-2006 Intalio inc.

  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
  Intalio inc. - initial API and implementation
 -->


<wsdl:definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tas="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="TaskAttachmentService"
  targetNamespace="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/">
  <wsdl:types>
    <xsd:schema
      targetNamespace="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/"
      elementFormDefault="qualified"
      attributeFormDefault="qualified">
      <xsd:complexType name="authCredentials">
        <xsd:sequence>
          <xsd:element
            name="participantToken"
            type="xsd:string"
            minOccurs="1"
            maxOccurs="1" />
          <xsd:element
            name="authorizedUsers"
            minOccurs="0"
            maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element
                  name="user"
                  type="xsd:string"
                  minOccurs="0"
                  maxOccurs="unbounded" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element
            name="authorizedRoles"
            minOccurs="0"
            maxOccurs="1">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element
                  name="role"
                  type="xsd:string"
                  minOccurs="0"
                  maxOccurs="unbounded" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="attachmentMetadata">
        <xsd:sequence>
          <xsd:element
            name="mimeType"
            type="xsd:string"
            minOccurs="1"
            maxOccurs="1" />
          <xsd:element
            name="filename"
            type="xsd:string"
            minOccurs="1"
            maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="authCredentials"
              type="tas:authCredentials"
              minOccurs="1"
              maxOccurs="1" />
            <xsd:element
              name="attachmentMetadata"
              type="tas:attachmentMetadata"
              minOccurs="1"
              maxOccurs="1" />
            <xsd:choice>
              <xsd:element
                name="localFileURL"
                type="xsd:anyURI"
                minOccurs="1"
                maxOccurs="1" />
              <xsd:element
                name="payload"
                type="xsd:base64Binary"
                minOccurs="1"
                maxOccurs="1" />
              <xsd:element
                name="plaintext"
                type="xsd:string"
                minOccurs="1"
                maxOccurs="1" />
            </xsd:choice>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="url"
              type="xsd:anyURI"
              minOccurs="1"
              maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element
              name="authCredentials"
              type="tas:authCredentials"
              minOccurs="1"
              maxOccurs="1" />
            <xsd:element
              name="attachmentURL"
              type="xsd:anyURI"
              minOccurs="1"
              maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element
        name="okResponse"
        type="xsd:string" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part
      element="tas:addRequest"
      name="addRequest" />
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part
      element="tas:addResponse"
      name="addResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part
      element="tas:deleteRequest"
      name="deleteRequest" />
  </wsdl:message>
  <wsdl:message name="okResponse">
    <wsdl:part
      element="tas:okResponse"
      name="okResponse" />
  </wsdl:message>
  <wsdl:portType name="tasServicePort">
    <wsdl:operation name="add">
      <wsdl:input message="tas:addRequest" />
      <wsdl:output message="tas:addResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tas:deleteRequest" />
      <wsdl:output message="tas:okResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding
    name="tasServiceSOAPBinding"
    type="tas:tasServicePort">
    <soap:binding
      style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/add" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/delete" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tas">
    <wsdl:port
      binding="tas:tasServiceSOAPBinding"
      name="tasServiceSOAP">
      <soap:address location="http://www.example.org/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
