tms-service/src/main/axis2/TaskManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Copyright (c) 2005-2006 Intalio inc.
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 * Intalio inc. - initial API and implementation
 *
 * $Id: TaskManagementServicesFacade.java 5440 2006-06-09 08:58:15Z imemruk $
 * $Log:$
 */
 -->
<!-- $Id: service.wsdl 3848 2006-04-13 12:35:58Z imemruk $ -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/" name="TaskManagementServices">
	<wsdl:types>
		<xsd:schema 
			elementFormDefault="qualified"
			targetNamespace="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/" 			
			xmlns:tns="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/">
			<xsd:element name="getTaskListResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="task" type="tns:task" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getTaskListRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="participantToken" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getTaskResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="task" type="tns:task"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getTaskRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskId" type="xsd:string"/>
						<xsd:element name="participantToken" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setOutputRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskId" type="xsd:string"/>
						<xsd:element name="data">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any maxOccurs="unbounded" minOccurs="0" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>						
						<xsd:element name="participantToken" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="skipRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskId" type="xsd:string"/>
						<xsd:element name="participantToken" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="completeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskId" type="xsd:string"/>
						<xsd:element name="participantToken" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setOutputAndCompleteRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskId" type="xsd:string"/>
						<xsd:element name="data">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any maxOccurs="unbounded" minOccurs="0" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="participantToken" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="failRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskId" type="xsd:string"/>
						<xsd:element name="code" type="xsd:string"/>
						<xsd:element name="message" type="xsd:string"/>
						<xsd:element name="participantToken" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskId" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
						<xsd:element name="participantToken" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteAllRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskType" type="xsd:string" maxOccurs="1" minOccurs="0"/>
						<xsd:element name="subQuery" type="xsd:string" maxOccurs="1" minOccurs="0"/>
						<xsd:element name="fakeDelete" type="xsd:boolean" maxOccurs="1" minOccurs="1"/>
						<xsd:element name="participantToken" type="xsd:string" maxOccurs="1" minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="task" type="tns:task"/>
						<xsd:element name="participantToken" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="storePipaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="task" type="tns:task"/>
						<xsd:element name="participantToken" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="deletePipaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="pipaurl" type="xsd:string"/>
						<xsd:element name="participantToken" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getPipaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="pipaurl" type="xsd:string"/>
						<xsd:element name="participantToken" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getPipaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="task" type="tns:task"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="initRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskId" type="xsd:string"/>
						<xsd:element name="input">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:any maxOccurs="unbounded" minOccurs="0" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="participantToken" type="xsd:string"/>
						<xsd:element name="formUrl" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="okResponse">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAttachmentsRequest">
			   <xsd:complexType>
			     <xsd:sequence>
			       <xsd:element name="taskId" type="xsd:string" />
			       <xsd:element name="participantToken" type="xsd:string" />
			     </xsd:sequence>
			   </xsd:complexType>
			</xsd:element>
			<xsd:element name="getAttachmentsResponse" type="tns:attachments"/>
			   
			<xsd:element name="addAttachmentRequest">
			    <xsd:complexType>
			        <xsd:sequence>
			            <xsd:element name="taskId" type="xsd:string" />
			            <xsd:element name="attachment" type="tns:attachment" />
			            <xsd:element name="participantToken" type="xsd:string" />
			        </xsd:sequence>
			    </xsd:complexType>
			</xsd:element>
			<xsd:element name="removeAttachmentRequest">
			     <xsd:complexType>
			         <xsd:sequence>
			             <xsd:element name="taskId" type="xsd:string" />
			             <xsd:element name="attachmentUrl" type="xsd:string" />
			             <xsd:element name="participantToken" type="xsd:string" />
			         </xsd:sequence>
			     </xsd:complexType>
			</xsd:element>
			<xsd:complexType name="attachments">
				<xsd:sequence>
					<xsd:element name="attachment" type="tns:attachment" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
  			<xsd:complexType name="attachmentMetadata">
			 <xsd:sequence>
			   <xsd:element name="mimeType" type="xsd:string"/>
			   <xsd:element name="fileName" type="xsd:string"/>
			   <xsd:element name="title" type="xsd:string"/>
			   <xsd:element name="description" type="xsd:string"/>
			   <xsd:element name="creationDate" type="xsd:dateTime"/>
 			 </xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="attachment">
			 <xsd:sequence>
			   <xsd:element name="attachmentMetadata" type="tns:attachmentMetadata"/>
			   <xsd:element name="payloadUrl" type="xsd:string"/>
			 </xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="accessControlType">
               <xsd:sequence>
                 <xsd:element name="user" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                 <xsd:element name="role" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                 <xsd:element name="authorized" type="xsd:string" minOccurs="0" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="taskMetadata">
				<xsd:sequence>
					<xsd:element name="taskId" type="xsd:string"/>
					<xsd:element name="taskState" type="xsd:token" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="taskType" type="xsd:token"/>
					<xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="processId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="creationDate" type="xsd:dateTime" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="deadline" type="xsd:dateTime" maxOccurs="1" minOccurs="0" />
					<xsd:element name="priority" type="xsd:int" nillable="true" maxOccurs="1" minOccurs="0" />
					<xsd:element name="userOwner" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
					<xsd:element name="roleOwner" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
					<xsd:element name="formUrl" type="xsd:anyURI"/>
					<xsd:element name="failureCode" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="failureReason" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="userProcessCompleteSOAPAction" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="processEndpoint" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="initMessageNamespaceURI" type="xsd:anyURI" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="initOperationSOAPAction" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="isChainedBefore" type="xsd:string" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="previousTaskId" type="xsd:string" maxOccurs="1" minOccurs="0"/>
				    <xsd:element name="claimAction" type="tns:accessControlType" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="revokeAction" type="tns:accessControlType" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="saveAction" type="tns:accessControlType" maxOccurs="1" minOccurs="0"/>
                    <xsd:element name="completeAction" type="tns:accessControlType" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="attachments" type="tns:attachments" maxOccurs="1" minOccurs="0"/>
  				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="task">
				<xsd:sequence>
					<xsd:element name="metadata" type="tns:taskMetadata"/>
					<xsd:element name="input">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:any maxOccurs="unbounded" minOccurs="0" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="output">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:any maxOccurs="unbounded" minOccurs="0" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getAvailableTasksResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="task" type="tns:task" minOccurs="0" maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAvailableTasksRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="participantToken"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="taskType"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="subQuery"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reassignRequest">
			     <xsd:complexType>
			         <xsd:sequence>
						<xsd:element name="taskId" type="xsd:string" minOccurs="1" maxOccurs="1" />
						<xsd:element name="userOwner" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
						<xsd:element name="roleOwner" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
						<xsd:element name="taskState" type="xsd:string" minOccurs="1" maxOccurs="1" />
						<xsd:element name="participantToken" type="xsd:string" minOccurs="1" maxOccurs="1" />
			         </xsd:sequence>
			     </xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="unavailableTaskFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reason" type="xsd:string"/>
						<xsd:element name="unavailableTaskId" type="xsd:string" maxOccurs="unbounded" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="invalidParticipantTokenFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reason" type="xsd:string"/>
						<xsd:element name="invalidToken" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="accessDeniedFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reason" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="invalidInputMessageFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reason" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unavailableAttachmentFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="reason" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="getTaskListResponse">
		<wsdl:part name="getTaskListResponse" element="tns:getTaskListResponse"/>
	</wsdl:message>
	<wsdl:message name="getTaskListRequest">
		<wsdl:part name="getTaskListRequest" element="tns:getTaskListRequest"/>
	</wsdl:message>
	<wsdl:message name="getTaskResponse">
		<wsdl:part name="getTaskResponse" element="tns:getTaskResponse"/>
	</wsdl:message>
	<wsdl:message name="getTaskRequest">
		<wsdl:part name="getTaskRequest" element="tns:getTaskRequest"/>
	</wsdl:message>
	<wsdl:message name="setOutputRequest">
		<wsdl:part name="setOutputRequest" element="tns:setOutputRequest"/>
	</wsdl:message>
	<wsdl:message name="unavailableTaskFault">
		<wsdl:part name="unavailableTaskFault" element="tns:unavailableTaskFault"/>
	</wsdl:message>
	<wsdl:message name="unavailableAttachmentFault">
		<wsdl:part name="unavailableAttachmentFault" element="tns:unavailableAttachmentFault"/>
	</wsdl:message>
	<wsdl:message name="invalidParticipantTokenFault">
		<wsdl:part name="invalidParticipantTokenFault" element="tns:invalidParticipantTokenFault"/>
	</wsdl:message>
	<wsdl:message name="accessDeniedFault">
		<wsdl:part name="accessDeniedFault" element="tns:accessDeniedFault"/>
	</wsdl:message>
	<wsdl:message name="invalidInputMessageFault">
		<wsdl:part name="invalidInputMessageFault" element="tns:invalidInputMessageFault"/>
	</wsdl:message>
	<wsdl:message name="completeRequest">
		<wsdl:part name="completeRequest" element="tns:completeRequest"/>
	</wsdl:message>
	<wsdl:message name="skipRequest">
        <wsdl:part name="skipRequest" element="tns:skipRequest"/>
	</wsdl:message>
	<wsdl:message name="setOutputAndCompleteRequest">
		<wsdl:part name="setOutputAndCompleteRequest" element="tns:setOutputAndCompleteRequest"/>
	</wsdl:message>
	<wsdl:message name="failRequest">
		<wsdl:part name="failRequest" element="tns:failRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteRequest">
		<wsdl:part name="deleteRequest" element="tns:deleteRequest"/>
	</wsdl:message>
	<wsdl:message name="deleteAllRequest">
		<wsdl:part name="deleteAllRequest" element="tns:deleteAllRequest"/>
	</wsdl:message>
	<wsdl:message name="createRequest">
		<wsdl:part name="createRequest" element="tns:createRequest"/>
	</wsdl:message>
	<wsdl:message name="storePipaRequest">
		<wsdl:part name="storePipaRequest" element="tns:storePipaRequest"/>
	</wsdl:message>
	<wsdl:message name="deletePipaRequest">
		<wsdl:part name="deletePipaRequest" element="tns:deletePipaRequest"/>
	</wsdl:message>
	<wsdl:message name="getPipaRequest">
		<wsdl:part name="getPipaRequest" element="tns:getPipaRequest"/>
	</wsdl:message>
	<wsdl:message name="getPipaResponse">
		<wsdl:part name="getPipaResponse" element="tns:getPipaResponse"/>
	</wsdl:message>
	<wsdl:message name="okResponse">
		<wsdl:part name="okResponse" element="tns:okResponse"/>
	</wsdl:message>
	<wsdl:message name="initRequest">
		<wsdl:part name="initRequest" element="tns:initRequest"/>
	</wsdl:message>
	<wsdl:message name="getAvailableTasksRequest">
		<wsdl:part name="getAvailableTasksRequest" element="tns:getAvailableTasksRequest"/>
	</wsdl:message>
	<wsdl:message name="getAvailableTasksResponse">
		<wsdl:part name="getAvailableTasksResponse" element="tns:getAvailableTasksResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="reassignRequest">
		<wsdl:part name="reassignRequest" element="tns:reassignRequest"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getAttachmentsRequest">
		<wsdl:part name="getAttachmentsRequest" element="tns:getAttachmentsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAttachmentsResponse">
		<wsdl:part name="getAttachmentsResponse" element="tns:getAttachmentsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addAttachmentRequest">
		<wsdl:part name="addAttachmentRequest" element="tns:addAttachmentRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAttachmentRequest">
		<wsdl:part name="removeAttachmentRequest" element="tns:removeAttachmentRequest"></wsdl:part>
	</wsdl:message>
	
	
	<wsdl:portType name="TaskManagementServices">
        <wsdl:operation name="reassign">
			<wsdl:input message="tns:reassignRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="getAttachments">
			<wsdl:input message="tns:getAttachmentsRequest"/>
			<wsdl:output message="tns:getAttachmentsResponse"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="skip">
			<wsdl:input message="tns:skipRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="addAttachment">
			<wsdl:input message="tns:addAttachmentRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>		
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="removeAttachment">
			<wsdl:input message="tns:removeAttachmentRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:unavailableAttachmentFault"/>
		</wsdl:operation>
		<wsdl:operation name="getTaskList">
			<wsdl:input message="tns:getTaskListRequest"/>
			<wsdl:output message="tns:getTaskListResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="getTask">
			<wsdl:input message="tns:getTaskRequest"/>
			<wsdl:output message="tns:getTaskResponse"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="setOutput">
			<wsdl:input message="tns:setOutputRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="complete">
			<wsdl:input message="tns:completeRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="setOutputAndComplete">
			<wsdl:input message="tns:setOutputAndCompleteRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="fail">
			<wsdl:input message="tns:failRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="AccessDenied" message="tns:accessDeniedFault"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:deleteRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="AccessDenied" message="tns:accessDeniedFault"/>
			<wsdl:fault name="UnavailableTasks" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="deleteAll">
			<wsdl:input message="tns:deleteAllRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="AccessDenied" message="tns:accessDeniedFault"/>
			<wsdl:fault name="UnavailableTasks" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="create">
			<wsdl:input message="tns:createRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="AccessDenied" message="tns:accessDeniedFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="initProcess">
			<wsdl:input message="tns:initRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="storePipa">
			<wsdl:input message="tns:storePipaRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="deletePipa">
			<wsdl:input message="tns:deletePipaRequest"/>
			<wsdl:output message="tns:okResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="getPipa">
			<wsdl:input message="tns:getPipaRequest"/>
			<wsdl:output message="tns:getPipaResponse"/>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="UnavailableTask" message="tns:unavailableTaskFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
		<wsdl:operation name="getAvailableTasks">
			<wsdl:input message="tns:getAvailableTasksRequest"></wsdl:input>
			<wsdl:output message="tns:getAvailableTasksResponse"></wsdl:output>
			<wsdl:fault name="InvalidParticipantToken" message="tns:invalidParticipantTokenFault"/>
			<wsdl:fault name="InvalidInputMessage" message="tns:invalidInputMessageFault"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="TaskManagementServicesSOAP" type="tns:TaskManagementServices">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getTaskList">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/getTaskList"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="skip">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/skip"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAvailableTasks">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/getAvailableTasks"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="reassign">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/reassign"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAttachments">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/getAttachments"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addAttachment">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/addAttachment"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="removeAttachment">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/removeAttachment"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		
		<wsdl:operation name="getTask">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/getTask"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setOutput">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/setOutput"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="complete">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/complete"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setOutputAndComplete">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/setOutputAndComplete"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="fail">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/fail"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/delete"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTasks">
				<soap:fault name="UnavailableTasks" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deleteAll">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/deleteAll"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTasks">
				<soap:fault name="UnavailableTasks" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="create">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/create"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="AccessDenied">
				<soap:fault name="AccessDenied" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initProcess">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/init"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="getPipa">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/getPipa"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="storePipa">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/storePipa"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		
		<wsdl:operation name="deletePipa">
			<soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/deletePipa"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="UnavailableTask">
				<soap:fault name="UnavailableTask" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidParticipantToken">
				<soap:fault name="InvalidParticipantToken" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="InvalidInputMessage">
				<soap:fault name="InvalidInputMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>	
		
	</wsdl:binding>
	<wsdl:service name="TaskManagementServices">
		<wsdl:port name="TaskManagementServicesSOAP" binding="tns:TaskManagementServicesSOAP">
			<soap:address location="http://localhost:8080/axis2/services/TaskManagementServices"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
