tms-service/src/main/axis2/ws-humantask-protocol.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:htdp="http://www.intalio.com/WS-HT/protocol"
  xmlns="http://www.intalio.com/WS-HT/protocol/wsdl"
  targetNamespace="http://www.intalio.com/WS-HT/protocol/wsdl">

  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.intalio.com/WS-HT/protocol"
        schemaLocation="ws-humantask-protocol.xsd" />
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="skipped">
    <wsdl:part name="parameters" element="htdp:skipped" />
  </wsdl:message>
  <wsdl:message name="fault">
    <wsdl:part name="parameters" element="htdp:fault" />
  </wsdl:message>

  <wsdl:message name="exit">
    <wsdl:part name="parameters" element="htdp:exit" />
  </wsdl:message>

  <wsdl:portType name="clientParticipantPortType">
    <wsdl:operation name="skippedOperation">
      <wsdl:input message="skipped" />
    </wsdl:operation>
    <wsdl:operation name="faultOperation">
      <wsdl:input message="fault" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name="humanTaskParticipantPortType">
    <wsdl:operation name="exitOperation">
      <wsdl:input message="exit" />
    </wsdl:operation>
  </wsdl:portType>

</wsdl:definitions>
