tms-service/src/main/axis2/ws-humantask-api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.intalio.com/WS-HT/api"
  xmlns:htd="http://www.intalio.com/WS-HT"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.intalio.com/WS-HT/api"
  elementFormDefault="qualified" blockDefault="#all">

  <!-- other namespaces -->
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="http://www.w3.org/2001/xml.xsd" />
  <xsd:import namespace="http://www.intalio.com/WS-HT"
    schemaLocation="ws-humantask.xsd" />

  <!-- data types for attachment operations -->
  <xsd:element name="attachmentInfo" type="tAttachmentInfo" />
  <xsd:complexType name="tAttachmentInfo">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="accessType" type="xsd:string" />
      <xsd:element name="contentType" type="xsd:string" />
      <xsd:element name="attachedAt" type="xsd:dateTime" />
      <xsd:element name="attachedBy" type="htd:tUser" />
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"
        maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="attachment" type="tAttachment" />
  <xsd:complexType name="tAttachment">
    <xsd:sequence>
      <xsd:element ref="attachmentInfo" />
      <xsd:element name="value" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- data types for comments -->
  <xsd:element name="comment" type="tComment" />
  <xsd:complexType name="tComment">
    <xsd:sequence>
      <xsd:element name="addedAt" type="xsd:dateTime" />
      <xsd:element name="addedBy" type="htd:tUser" />
      <xsd:element name="text" type="xsd:string" />
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"
        maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- data types for simple query operations -->
  <xsd:element name="taskAbstract" type="tTaskAbstract" />
  <xsd:complexType name="tTaskAbstract">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="taskType" type="xsd:string" />
      <xsd:element name="name" type="xsd:QName" />
      <xsd:element name="status" type="tStatus" />
      <xsd:element name="priority" type="xsd:nonNegativeInteger"
        minOccurs="0" />
      <xsd:element name="createdOn" type="xsd:dateTime" />
      <xsd:element name="activationTime" type="xsd:dateTime"
        minOccurs="0" />
      <xsd:element name="expirationTime" type="xsd:dateTime"
        minOccurs="0" />
      <xsd:element name="isSkipable" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="hasPotentialOwners" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="startByExists" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="completeByExists" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="presentationName" type="tPresentationName"
        minOccurs="0" />
      <xsd:element name="presentationSubject"
        type="tPresentationSubject" minOccurs="0" />
      <xsd:element name="renderingMethodExists" type="xsd:boolean" />
      <xsd:element name="hasOutput" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="hasFault" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="hasAttachments" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="hasComments" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="escalated" type="xsd:boolean" minOccurs="0" />
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"
        maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="task" type="tTask" />
  <xsd:complexType name="tTask">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="taskType" type="xsd:string" />
      <xsd:element name="name" type="xsd:QName" />
      <xsd:element name="status" type="tStatus" />
      <xsd:element name="priority" type="xsd:nonNegativeInteger"
        minOccurs="0" />
      <xsd:element name="taskInitiator" type="htd:tUser"
        minOccurs="0" />
      <xsd:element name="taskStakeholders"
        type="htd:tOrganizationalEntity" minOccurs="0" />
      <xsd:element name="potentialOwners"
        type="htd:tOrganizationalEntity" minOccurs="0" />
      <xsd:element name="businessAdministrators"
        type="htd:tOrganizationalEntity" minOccurs="0" />
      <xsd:element name="actualOwner" type="htd:tUser" minOccurs="0" />
      <xsd:element name="notificationRecipients"
        type="htd:tOrganizationalEntity" minOccurs="0" />
      <xsd:element name="createdOn" type="xsd:dateTime" />
      <xsd:element name="createdBy" type="xsd:string" minOccurs="0" />
      <xsd:element name="activationTime" type="xsd:dateTime"
        minOccurs="0" />
      <xsd:element name="expirationTime" type="xsd:dateTime"
        minOccurs="0" />
      <xsd:element name="isSkipable" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="hasPotentialOwners" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="startByExists" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="completeByExists" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="presentationName" type="tPresentationName"
        minOccurs="0" />
      <xsd:element name="presentationSubject"
        type="tPresentationSubject" minOccurs="0" />
      <xsd:element name="renderingMethodExists" type="xsd:boolean" />
      <xsd:element name="hasOutput" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="hasFault" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="hasAttachments" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="hasComments" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="escalated" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="primarySearchBy" type="xsd:string"
        minOccurs="0" />
      <xsd:any namespace="##other" processContents="lax" minOccurs="0"
        maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="tPresentationName">
    <xsd:annotation>
      <xsd:documentation>length-restricted string</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="64" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tPresentationSubject">
    <xsd:annotation>
      <xsd:documentation>length-restricted string</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="254" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CREATED" />
      <xsd:enumeration value="READY" />
      <xsd:enumeration value="RESERVED" />
      <xsd:enumeration value="IN_PROGRESS" />
      <xsd:enumeration value="SUSPENDED" />
      <xsd:enumeration value="COMPLETED" />
      <xsd:enumeration value="FAILED" />
      <xsd:enumeration value="ERROR" />
      <xsd:enumeration value="EXITED" />
      <xsd:enumeration value="OBSOLETE" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- data types for advanced query operations -->
  <xsd:element name="taskQueryResultSet" type="tTaskQueryResultSet" />
  <xsd:complexType name="tTaskQueryResultSet">
    <xsd:sequence>
      <xsd:element name="row" type="tTaskQueryResultRow" minOccurs="0"
        maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tTaskQueryResultRow">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="taskType" type="xsd:string" />
      <xsd:element name="name" type="xsd:QName" />
      <xsd:element name="status" type="tStatus" />
      <xsd:element name="priority" type="xsd:nonNegativeInteger" />
      <xsd:element name="taskInitiator"
        type="htd:tOrganizationalEntity" />
      <xsd:element name="taskStakeholders"
        type="htd:tOrganizationalEntity" />
      <xsd:element name="potentialOwners"
        type="htd:tOrganizationalEntity" />
      <xsd:element name="businessAdministrators"
        type="htd:tOrganizationalEntity" />
      <xsd:element name="actualOwner" type="htd:tUser" />
      <xsd:element name="notificationRecipients"
        type="htd:tOrganizationalEntity" />
      <xsd:element name="createdOn" type="xsd:dateTime" />
      <xsd:element name="createdBy" type="xsd:string" />
      <xsd:element name="activationTime" type="xsd:dateTime" />
      <xsd:element name="expirationTime" type="xsd:dateTime" />
      <xsd:element name="isSkipable" type="xsd:boolean" />
      <xsd:element name="hasPotentialOwners" type="xsd:boolean" />
      <xsd:element name="startByExists" type="xsd:boolean" />
      <xsd:element name="completeByExists" type="xsd:boolean" />
      <xsd:element name="presentationName" type="tPresentationName" />
      <xsd:element name="presentationSubject"
        type="tPresentationSubject" />
      <xsd:element name="presentationDescription" type="xsd:string" />
      <xsd:element name="renderingMethodExists" type="xsd:boolean" />
      <xsd:element name="hasOutput" type="xsd:boolean" />
      <xsd:element name="hasFault" type="xsd:boolean" />
      <xsd:element name="hasAttachments" type="xsd:boolean" />
      <xsd:element name="hasComments" type="xsd:boolean" />
      <xsd:element name="escalated" type="xsd:boolean" />
      <xsd:element name="primarySearchBy" type="xsd:string" />
      <xsd:any namespace="##other" processContents="lax" />
    </xsd:choice>
  </xsd:complexType>

</xsd:schema>