sita-service/src/main/axis2/SITAservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.intalio.com/gi/forms/TAmanagement.gi"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.intalio.com/gi/forms/TAmanagement.gi" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:as="http://www.example.org/assignment" xmlns:fmr="http://www.example.org/FMRupload"
	xmlns:p="http://www.example.org/prop" xmlns:u="http://www.example.org/fmr">
	<types>
		<xsd:schema targetNamespace="http://www.intalio.com/gi/forms/TAmanagement.gi" elementFormDefault="unqualified">
			<xsd:include schemaLocation="TAdata.xsd" />
			<xsd:element name="updateInput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FMR" xmlns="">
							<xsd:complexType>
								<xsd:attribute name="CreationTime" type="xsd:dateTime" use="required"/>
								<xsd:attribute name="Aircraft" use="required">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="1"/>
											<xsd:maxLength value="6" fixed="false"/>
											<xsd:pattern value="\p{Lu}+"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="STA" type="xsd:dateTime" use="optional"/>
								<xsd:attribute name="ArrivalFlightNumber" use="optional">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="5"/>
											<xsd:maxLength value="8"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="ATA" type="xsd:dateTime" use="optional"/>
								<xsd:attribute name="ETA" type="xsd:dateTime" use="optional"/>
								<xsd:attribute name="ETD" type="xsd:dateTime" use="optional"/>
								<xsd:attribute name="STD" type="xsd:dateTime" use="optional"/>
								<xsd:attribute name="ATD" type="xsd:dateTime" use="optional"/>
								<xsd:attribute name="Stand" type="xsd:string" use="optional"/>
								<xsd:attribute name="InspectionType" type="xsd:string" use="optional"/>
								<xsd:attribute name="DepartureFlightNumber" use="optional">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:minLength value="5"/>
											<xsd:maxLength value="8"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="Rtr-id" type="xsd:string" use="optional"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element ref="tns:data" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TAdates">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="startDateTime" type="xsd:dateTime" />
						<xsd:element name="endDateTime" type="xsd:dateTime" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="roles">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="roles" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.example.org/assignment">
			<xsd:element name="ShiftInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
						<xsd:element name="startDate" type="xsd:date" />
						<xsd:element name="startTime" type="xsd:time" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.example.org/FMRupload">
			<xsd:element name="FormModel">
			    <xsd:complexType>
			      <xsd:sequence>
			        <xsd:element type="xsd:string" name="aircraft"/>
			        <xsd:element type="xsd:date" name="ScheduledArrivalDate"/>
			        <xsd:element type="xsd:time" name="STA"/>
			        <xsd:element type="xsd:string" name="ArrivalFlightNumber"/>
			        <xsd:element type="xsd:date" name="ActualArrivalDate"/>
			        <xsd:element type="xsd:time" name="ATA"/>
			        <xsd:element type="xsd:date" name="ScheduledDepartureDate"/>
			        <xsd:element type="xsd:time" name="STD"/>
			        <xsd:element type="xsd:date" name="ActualDepartureDate"/>
			        <xsd:element type="xsd:time" name="ATD"/>
			        <xsd:element type="xsd:string" name="Stand"/>
			        <xsd:element type="xsd:string" name="InspectionType"/>
			        <xsd:element type="xsd:string" name="DepartureFlightNumber"/>
			        <xsd:element type="xsd:string" name="RTRid"/>
			        <xsd:element type="xsd:string" name="filepath"/>
			      </xsd:sequence>
			    </xsd:complexType>
			</xsd:element>
			<xsd:element name="filepath" type="xsd:string" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.example.org/prop">
			<xsd:element name="property" type="xsd:string"/>
		</xsd:schema>
	</types>
	<message name="UpdateHILandRTRrequest">
		<part name="body" element="tns:complexData" />
	</message>
	<message name="UpdateHILandRTRresponse">
		<part name="body" element="tns:data" />
	</message>
	<message name="AssignTAtoShiftRequest">
		<part name="body" element="as:ShiftInfo" />
	</message>
	<message name="AssignTAtoShiftResponse">
		<part name="body" element="as:ShiftInfo" />
	</message>
	<message name="ImportFMRrequest">
		<part name="body" element="fmr:filepath" />
	</message>
	<message name="ImportFMRresponse">
		<part name="body" element="fmr:FormModel" />
	</message>
	<message name="readPropertyRequest">
		<part name="body" element="p:property" />
	</message>
	<message name="readPropertyResponse">
		<part name="body" element="p:property" />
	</message>
	<message name="updateTArequest">
		<part name="body" element="tns:updateInput" />
	</message>
	<message name="updateTAresponse">
		<part name="body" element="tns:data" />
	</message>
	<message name="getRolesRequest">
		<part name="body" element="tns:TAdates" />
	</message>
	<message name="getRolesResponse">
		<part name="body" element="tns:roles" />
	</message>
	<portType name="SITAservicePortType">
		<operation name="UpdateHILandRTR">
			<input name="inputMessage" message="tns:UpdateHILandRTRrequest" />
			<output name="outputMessage" message="tns:UpdateHILandRTRresponse" />
		</operation>
		<operation name="AssignTAtoShift">
			<input name="inputMessage" message="tns:AssignTAtoShiftRequest" />
			<output name="ouputMessage" message="tns:AssignTAtoShiftResponse" />
		</operation>
		<operation name="ImportFMR">
			<input name="inputMessage" message="tns:ImportFMRrequest" />
			<output name="ouputMessage" message="tns:ImportFMRresponse" />
		</operation>
		<operation name="readProperty">
			<input name="inputMessage" message="tns:readPropertyRequest" />
			<output name="ouputMessage" message="tns:readPropertyResponse" />
		</operation>
		<operation name="updateTA">
			<input name="inputMessage" message="tns:updateTArequest" />
			<output name="ouputMessage" message="tns:updateTAresponse" />
		</operation>
		<operation name="getRoles">
			<input name="inputMessage" message="tns:getRolesRequest" />
			<output name="ouputMessage" message="tns:getRolesResponse" />
		</operation>
	</portType>
	<binding name="SITAserviceSoapBinding" type="tns:SITAservicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="UpdateHILandRTR">
			<soap:operation soapAction="urn:UpdateHILandRTR"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="AssignTAtoShift">
			<soap:operation soapAction="urn:AssignTAtoShift"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="ImportFMR">
			<soap:operation soapAction="urn:ImportFMR"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="readProperty">
			<soap:operation soapAction="urn:readProperty"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="updateTA">
			<soap:operation soapAction="urn:updateTA"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getRoles">
			<soap:operation soapAction="urn:getRoles"
				style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SITAservice">
		<port name="SITAservicePort" binding="tns:SITAserviceSoapBinding">
			<soap:address location="http://localhost:9080/axis2/services/SITAservice" />
		</port>
	</service>
</definitions>
