security-ws-service/src/main/axis2/rbacquery-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
	~ Copyright (c) 2005-2007 Intalio inc.
	~
	~ All rights reserved. This program and the accompanying materials
	~ are made available under the terms of the Eclipse Public License v1.0
	~ which accompanies this distribution, and is available at
	~ http://www.eclipse.org/legal/epl-v10.html
	~
	~ Contributors:
	~ Intalio inc. - initial API and implementation
-->
<wsdl:definitions
	targetNamespace="http://tempo.intalio.org/security/RBACQueryService/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://tempo.intalio.org/security/RBACQueryService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns="http://tempo.intalio.org/security/">

	<wsdl:types>
	
		<xsd:schema
			targetNamespace="http://tempo.intalio.org/security/RBACQueryService/"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="PropertyType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PropertiesType">
					<xsd:sequence>
						<xsd:element name="property"
							type="tns:PropertyType" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="role">
					<xsd:sequence>
						<xsd:element name="role" type="xsd:string" />
					</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="roles">
					<xsd:sequence>
						<xsd:element name="role" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="user">
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
					</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="users">
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getAssignedUsersRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="role" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAssignedUsersResponse" type="tns:users"/>
			<xsd:element name="getAssignedRolesRequest" type="tns:user"/>
			<xsd:element name="getAssignedRolesResponse" type="tns:roles"/>

			<xsd:element name="getRoleOperationsOnObjectRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="role" type="xsd:string" />
						<xsd:element name="object" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRoleOperationsOnObjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="operation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUserOperationsOnObjectRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="user" type="xsd:string" />
						<xsd:element name="object" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUserOperationsOnObjectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="operation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAuthorizedUsersRequest" type="tns:role"/>
			<xsd:element name="getAuthorizedUsersResponse" type="tns:users"/>
			<xsd:element name="getAuthorizedRolesRequest" type="tns:user"/>
			<xsd:element name="getAuthorizedRolesResponse" type="tns:roles"/>
			<xsd:element name="getTopRolesRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="realm" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getTopRolesResponse" type="tns:roles"/>
			<xsd:element name="getAscendantRolesRequest" type="tns:role"/>
			<xsd:element name="getAscendantRolesResponse" type="tns:roles"/>
			<xsd:element name="getDescendantRolesRequest" type="tns:role"/>
			<xsd:element name="getDescendantRolesResponse" type="tns:roles"/>
			<xsd:element name="getUserPropertiesRequest" type="tns:user"/>
			<xsd:element name="getUserPropertiesResponse" type="tns:PropertiesType"/>
			<xsd:element name="getRolePropertiesRequest" type="tns:role"/>
			<xsd:element name="getRolePropertiesResponse" type="tns:PropertiesType"/>
			<xsd:element name="UserNotFoundFault" type="xsd:string"/>
			<xsd:element name="RoleNotFoundFault" type="xsd:string"/>
			<xsd:element name="ObjectNotFoundFault" type="xsd:string"/>
			<xsd:element name="RemoteFault" type="xsd:string"/>
			<xsd:element name="RBACFault" type="xsd:string"/>
			<xsd:element name="IllegalArgumentFault" type="xsd:string"/>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="getAssignedUsersRequest">
		<wsdl:part name="payload" element="tns:getAssignedUsersRequest" />
	</wsdl:message>
	<wsdl:message name="getAssignedUsersResponse">
		<wsdl:part name="payload" element="tns:getAssignedUsersResponse" />
	</wsdl:message>
	<wsdl:message name="getAssignedRolesRequest">
		<wsdl:part name="payload" element="tns:getAssignedRolesRequest" />
	</wsdl:message>
	<wsdl:message name="getAssignedRolesResponse">
		<wsdl:part name="payload" element="tns:getAssignedRolesResponse" />
	</wsdl:message>
	<wsdl:message name="getRoleOperationsOnObjectRequest">
		<wsdl:part name="payload" element="tns:getRoleOperationsOnObjectRequest" />
	</wsdl:message>
	<wsdl:message name="getRoleOperationsOnObjectResponse">
		<wsdl:part name="payload" element="tns:getRoleOperationsOnObjectResponse" />
	</wsdl:message>
	<wsdl:message name="getUserOperationsOnObjectRequest">
		<wsdl:part name="payload" element="tns:getUserOperationsOnObjectRequest" />
	</wsdl:message>
	<wsdl:message name="getUserOperationsOnObjectResponse">
		<wsdl:part name="payload" element="tns:getUserOperationsOnObjectResponse" />
	</wsdl:message>
	<wsdl:message name="getAuthorizedUsersRequest">
		<wsdl:part name="payload" element="tns:getAuthorizedUsersRequest" />
	</wsdl:message>
	<wsdl:message name="getAuthorizedUsersResponse">
		<wsdl:part name="payload" element="tns:getAuthorizedUsersResponse" />
	</wsdl:message>
	<wsdl:message name="getAuthorizedRolesRequest">
		<wsdl:part name="payload" element="tns:getAuthorizedRolesRequest" />
	</wsdl:message>
	<wsdl:message name="getAuthorizedRolesResponse">
		<wsdl:part name="payload" element="tns:getAuthorizedRolesResponse" />
	</wsdl:message>
	<wsdl:message name="getTopRolesRequest">
		<wsdl:part name="payload" element="tns:getTopRolesRequest" />
	</wsdl:message>
	<wsdl:message name="getTopRolesResponse">
		<wsdl:part name="payload" element="tns:getTopRolesResponse" />
	</wsdl:message>
	<wsdl:message name="getAscendantRolesRequest">
		<wsdl:part name="payload" element="tns:getAscendantRolesRequest" />
	</wsdl:message>
	<wsdl:message name="getAscendantRolesResponse">
		<wsdl:part name="payload" element="tns:getAscendantRolesResponse" />
	</wsdl:message>
	<wsdl:message name="getDescendantRolesRequest">
		<wsdl:part name="payload" element="tns:getDescendantRolesRequest" />
	</wsdl:message>
	<wsdl:message name="getDescendantRolesResponse">
		<wsdl:part name="payload" element="tns:getDescendantRolesResponse" />
	</wsdl:message>
	<wsdl:message name="getUserPropertiesRequest">
		<wsdl:part name="payload" element="tns:getUserPropertiesRequest" />
	</wsdl:message>
	<wsdl:message name="getUserPropertiesResponse">
		<wsdl:part name="payload" element="tns:getUserPropertiesResponse" />
	</wsdl:message>
	<wsdl:message name="getRolePropertiesRequest">
		<wsdl:part name="payload" element="tns:getRolePropertiesRequest" />
	</wsdl:message>
	<wsdl:message name="getRolePropertiesResponse">
		<wsdl:part name="payload" element="tns:getRolePropertiesResponse" />
	</wsdl:message>
	<wsdl:message name="UserNotFoundFault">
		<wsdl:part name="payload" element="tns:UserNotFoundFault" />
	</wsdl:message>
	<wsdl:message name="RoleNotFoundFault">
		<wsdl:part name="payload" element="tns:RoleNotFoundFault" />
	</wsdl:message>
	<wsdl:message name="ObjectNotFoundFault">
		<wsdl:part name="payload" element="tns:ObjectNotFoundFault" />
	</wsdl:message>
	<wsdl:message name="RemoteFault">
		<wsdl:part name="payload" element="tns:RemoteFault" />
	</wsdl:message>
	<wsdl:message name="RBACFault">
		<wsdl:part name="payload" element="tns:RBACFault" />
	</wsdl:message>
	<wsdl:message name="IllegalArgumentFault">
		<wsdl:part name="payload" element="tns:IllegalArgumentFault" />
	</wsdl:message>
	
	
	
	<wsdl:portType name="RBACQueryPortType">
		
		<wsdl:operation name="getAssignedUsers">
			<wsdl:input message="tns:getAssignedUsersRequest" />
			<wsdl:output message="tns:getAssignedUsersResponse" />
			<wsdl:fault message="tns:RoleNotFoundFault" name="RoleNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getAssignedRoles">
			<wsdl:input message="tns:getAssignedRolesRequest" />
			<wsdl:output message="tns:getAssignedRolesResponse" />
			<wsdl:fault message="tns:UserNotFoundFault" name="UserNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getRoleOperationsOnObject">
			<wsdl:input message="tns:getRoleOperationsOnObjectRequest" />
			<wsdl:output message="tns:getRoleOperationsOnObjectResponse" />
			<wsdl:fault message="tns:RoleNotFoundFault" name="RoleNotFoundFault"/>
			<wsdl:fault message="tns:ObjectNotFoundFault" name="ObjectNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getUserOperationsOnObject">
			<wsdl:input message="tns:getUserOperationsOnObjectRequest" />
			<wsdl:output message="tns:getUserOperationsOnObjectResponse" />
			<wsdl:fault message="tns:UserNotFoundFault" name="UserNotFoundFault"/>
			<wsdl:fault message="tns:ObjectNotFoundFault" name="ObjectNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getAuthorizedUsers">
			<wsdl:input message="tns:getAuthorizedUsersRequest" />
			<wsdl:output message="tns:getAuthorizedUsersResponse" />
			<wsdl:fault message="tns:RoleNotFoundFault" name="RoleNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getAuthorizedRoles">
			<wsdl:input message="tns:getAuthorizedRolesRequest" />
			<wsdl:output message="tns:getAuthorizedRolesResponse" />
			<wsdl:fault message="tns:UserNotFoundFault" name="UserNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getTopRoles">
			<wsdl:input message="tns:getTopRolesRequest" />
			<wsdl:output message="tns:getTopRolesResponse" />
			<wsdl:fault message="tns:RoleNotFoundFault" name="RoleNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getAscendantRoles">
			<wsdl:input message="tns:getAscendantRolesRequest" />
			<wsdl:output message="tns:getAscendantRolesResponse" />
			<wsdl:fault message="tns:RoleNotFoundFault" name="RoleNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getDescendantRoles">
			<wsdl:input message="tns:getDescendantRolesRequest" />
			<wsdl:output message="tns:getDescendantRolesResponse" />
			<wsdl:fault message="tns:RoleNotFoundFault" name="RoleNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getUserProperties">
			<wsdl:input message="tns:getUserPropertiesRequest" />
			<wsdl:output message="tns:getUserPropertiesResponse" />
			<wsdl:fault message="tns:UserNotFoundFault" name="UserNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
		<wsdl:operation name="getRoleProperties">
			<wsdl:input message="tns:getRolePropertiesRequest" />
			<wsdl:output message="tns:getRolePropertiesResponse" />
			<wsdl:fault message="tns:RoleNotFoundFault" name="RoleNotFoundFault"/>
			<wsdl:fault message="tns:RemoteFault" name="RemoteFault" />
			<wsdl:fault message="tns:RBACFault" name="RBACFault" />
			<wsdl:fault message="tns:IllegalArgumentFault" name="IllegalArgumentFault" />
		</wsdl:operation>
				
	</wsdl:portType>

	
<wsdl:binding name="RBACQuerySOAP" type="tns:RBACQueryPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="getAssignedUsers">
			<soap:operation soapAction="getAssignedUsers" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
			<wsdl:fault name="RoleNotFoundFault">
				<soap:fault use="literal" name="RoleNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAssignedRoles">
			<soap:operation soapAction="getAssignedRoles" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
			<wsdl:fault name="UserNotFoundFault">
				<soap:fault use="literal" name="UserNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRoleOperationsOnObject">
			<soap:operation soapAction="getRoleOperationsOnObject" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
			<wsdl:fault name="RoleNotFoundFault">
				<soap:fault use="literal" name="RoleNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="ObjectNotFoundFault">
				<soap:fault use="literal" name="ObjectNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserOperationsOnObject">
			<soap:operation soapAction="getUserOperationsOnObject" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
			<wsdl:fault name="UserNotFoundFault">
				<soap:fault use="literal" name="UserNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="ObjectNotFoundFault">
				<soap:fault use="literal" name="ObjectNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAuthorizedUsers">
			<soap:operation soapAction="getAuthorizedUsers" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
			<wsdl:fault name="RoleNotFoundFault">
				<soap:fault use="literal" name="RoleNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAuthorizedRoles">
			<soap:operation soapAction="getAuthorizedRoles" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
			<wsdl:fault name="UserNotFoundFault">
				<soap:fault use="literal" name="UserNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTopRoles">
			<soap:operation soapAction="getTopRoles" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
				<wsdl:fault name="RoleNotFoundFault">
				<soap:fault use="literal" name="RoleNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAscendantRoles">
			<soap:operation soapAction="getAscendantRoles" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
				<wsdl:fault name="RoleNotFoundFault">
				<soap:fault use="literal" name="RoleNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDescendantRoles">
			<soap:operation soapAction="getDescendantRoles" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
				<wsdl:fault name="RoleNotFoundFault">
				<soap:fault use="literal" name="RoleNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>		
		<wsdl:operation name="getUserProperties">
			<soap:operation soapAction="getUserProperties" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
				<wsdl:fault name="UserNotFoundFault">
				<soap:fault use="literal" name="UserNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRoleProperties">
			<soap:operation soapAction="getRoleProperties" />
			<wsdl:input>
				<soap:body parts="payload" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="payload" use="literal" />
			</wsdl:output>
				<wsdl:fault name="RoleNotFoundFault">
				<soap:fault use="literal" name="RoleNotFoundFault"/>
			</wsdl:fault>
			<wsdl:fault name="RemoteFault">
				<soap:fault use="literal" name="RemoteFault"/>
			</wsdl:fault>
			<wsdl:fault name="RBACFault">
				<soap:fault use="literal" name="RBACFault"/>
			</wsdl:fault>
			<wsdl:fault name="IllegalArgumentFault">
				<soap:fault use="literal" name="IllegalArgumentFault"/>
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>
	
	<wsdl:service name="RBACQueryService">
		<wsdl:port name="RBACService" binding="tns:RBACQuerySOAP">
			<soap:address
				location="http://localhost:8080/axis2/services/RBACQuery" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
