security-ws-service/src/main/axis2/token-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempo.intalio.org/security/tokenService/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://tempo.intalio.org/security/tokenService/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="http://tempo.intalio.org/security/">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempo.intalio.org/security/tokenService/">
            <xsd:complexType name="PropertyType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="value" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="properties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="property" type="tns:PropertyType" maxOccurs="unbounded" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:complexType name="authenticateUser">
                <xsd:sequence>
                    <xsd:element name="user" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="authenticateUserWithCredentials">
                <xsd:sequence>
                    <xsd:element name="user" type="xsd:string"/>
                    <xsd:element name="credentials" type="tns:PropertyType" maxOccurs="1" minOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="authenticateUserResponse">
                <xsd:sequence>
                    <xsd:element name="token" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="getTokenProperties">
                <xsd:sequence>
                    <xsd:element name="token" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="getTokenPropertiesResponse">
                <xsd:sequence>
                    <xsd:element name="credentials" type="tns:PropertyType" maxOccurs="1" minOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    
    
    <wsdl:message name="authenticateUser">
        <wsdl:part name="payload" type="tns:authenticateUser" />
    </wsdl:message>
    
    <wsdl:message name="authenticateUserWithCredentials">
        <wsdl:part name="payload" type="tns:authenticateUserWithCredentials" />
    </wsdl:message>
    
    <wsdl:message name="authenticateUserResponse">
        <wsdl:part name="payload" type="tns:authenticateUserResponse" />
    </wsdl:message>
    
    <wsdl:message name="getTokenProperties">
        <wsdl:part name="payload" type="tns:getTokenProperties" />
    </wsdl:message>
    
    <wsdl:message name="getTokenPropertiesResponse">
        <wsdl:part name="payload" type="tns:getTokenPropertiesResponse" />
    </wsdl:message>
    
    <wsdl:portType name="TokenService">
        <wsdl:operation name="authenticateUser">
            <wsdl:input message="tns:authenticateUser" />
            <wsdl:output message="tns:authenticateUserResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="authenticateUserWithCredentials">
            <wsdl:input message="tns:authenticateUserWithCredentials" />
            <wsdl:output message="tns:authenticateUserResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="getTokenProperties">
            <wsdl:input message="tns:getTokenProperties" />
            <wsdl:output message="tns:getTokenPropertiesResponse" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="TokenServiceSOAP" type="tns:TokenService">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="authenticateUser">
            <soap:operation soapAction="authenticateUser" />
            <wsdl:input>
                <soap:body parts="payload" use="literal" namespace="http://tempo.intalio.org/security/tokenService/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="payload" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="authenticateUserWithCredentials">
            <soap:operation soapAction="authenticateUserWithCredentials" />
            <wsdl:input>
                <soap:body parts="payload" use="literal" namespace="http://tempo.intalio.org/security/tokenService/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="payload" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getTokenProperties">
            <soap:operation soapAction="getTokenProperties" />
            <wsdl:input>
                <soap:body parts="payload" use="literal" namespace="http://tempo.intalio.org/security/tokenService/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="payload" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="TokenService">
        <wsdl:port name="Service" binding="tns:TokenServiceSOAP">
            <soap:address location="http://localhost:8080/axis2/token" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
