PierreThings/SITA/processes.ode/services/TokenService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://tempo.intalio.org/security/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://tempo.intalio.org/security/tokenService/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempo.intalio.org/security/tokenService/">
    <wsdl:documentation>TokenService</wsdl:documentation>
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempo.intalio.org/security/tokenService/">
            <xsd:complexType name="PropertyType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="properties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="property" type="tns:PropertyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="authenticateUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="authenticateUserWithCredentials">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user" type="xsd:string"/>
                        <xsd:element name="credentials" type="tns:PropertyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="authenticateUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="token" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTokenProperties">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="token" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTokenPropertiesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="credentials" type="tns:PropertyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getTokenResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="proxyTicket">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ticket" type="xsd:string"/>
                        <xsd:element name="serviceURL" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="openssoTicket">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="openssoToken" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getTokenFromOpenSSOTokenRequest">
        <wsdl:part name="payload" element="tns:openssoTicket"/>
    </wsdl:message>
    <wsdl:message name="getTokenFromOpenSSOTokenResponse">
        <wsdl:part name="payload" element="tns:authenticateUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getTokenProperties">
        <wsdl:part name="payload" element="tns:getTokenProperties"/>
    </wsdl:message>
    <wsdl:message name="getTokenPropertiesResponse">
        <wsdl:part name="payload" element="tns:getTokenPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="getTokenFromTicketRequest">
        <wsdl:part name="payload" element="tns:proxyTicket"/>
    </wsdl:message>
    <wsdl:message name="getTokenFromTicketResponse">
        <wsdl:part name="payload" element="tns:authenticateUserResponse"/>
    </wsdl:message>
    <wsdl:message name="authenticateUserWithCredentials">
        <wsdl:part name="payload" element="tns:authenticateUserWithCredentials"/>
    </wsdl:message>
    <wsdl:message name="authenticateUserResponse">
        <wsdl:part name="payload" element="tns:authenticateUserResponse"/>
    </wsdl:message>
    <wsdl:message name="authenticateUser">
        <wsdl:part name="payload" element="tns:authenticateUser"/>
    </wsdl:message>
    <wsdl:portType name="TokenServicePortType">
        <wsdl:operation name="getTokenFromOpenSSOToken">
            <wsdl:input message="tns:getTokenFromOpenSSOTokenRequest" wsaw:Action="getTokenFromOpenSSOToken"/>
            <wsdl:output message="tns:getTokenFromOpenSSOTokenResponse" wsaw:Action="http://tempo.intalio.org/security/tokenService/TokenService/getTokenFromOpenSSOTokenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTokenProperties">
            <wsdl:input message="tns:getTokenProperties" wsaw:Action="getTokenProperties"/>
            <wsdl:output message="tns:getTokenPropertiesResponse" wsaw:Action="http://tempo.intalio.org/security/tokenService/TokenService/getTokenPropertiesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTokenFromTicket">
            <wsdl:input message="tns:getTokenFromTicketRequest" wsaw:Action="getTokenFromTicket"/>
            <wsdl:output message="tns:getTokenFromTicketResponse" wsaw:Action="http://tempo.intalio.org/security/tokenService/TokenService/getTokenFromTicketResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authenticateUserWithCredentials">
            <wsdl:input message="tns:authenticateUserWithCredentials" wsaw:Action="authenticateUserWithCredentials"/>
            <wsdl:output message="tns:authenticateUserResponse" wsaw:Action="http://tempo.intalio.org/security/tokenService/TokenService/authenticateUserWithCredentialsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authenticateUser">
            <wsdl:input message="tns:authenticateUser" wsaw:Action="authenticateUser"/>
            <wsdl:output message="tns:authenticateUserResponse" wsaw:Action="http://tempo.intalio.org/security/tokenService/TokenService/authenticateUserResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TokenServiceSOAP11Binding" type="tns:TokenServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTokenFromOpenSSOToken">
            <soap:operation soapAction="getTokenFromOpenSSOToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTokenProperties">
            <soap:operation soapAction="getTokenProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTokenFromTicket">
            <soap:operation soapAction="getTokenFromTicket" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateUserWithCredentials">
            <soap:operation soapAction="authenticateUserWithCredentials" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateUser">
            <soap:operation soapAction="authenticateUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TokenServiceSOAP12Binding" type="tns:TokenServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTokenFromOpenSSOToken">
            <soap12:operation soapAction="getTokenFromOpenSSOToken" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTokenProperties">
            <soap12:operation soapAction="getTokenProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTokenFromTicket">
            <soap12:operation soapAction="getTokenFromTicket" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateUserWithCredentials">
            <soap12:operation soapAction="authenticateUserWithCredentials" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateUser">
            <soap12:operation soapAction="authenticateUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TokenServiceHttpBinding" type="tns:TokenServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getTokenFromOpenSSOToken">
            <http:operation location="TokenService/getTokenFromOpenSSOToken"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTokenFromOpenSSOToken"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTokenFromOpenSSOToken"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTokenProperties">
            <http:operation location="TokenService/getTokenProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTokenProperties"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTokenProperties"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTokenFromTicket">
            <http:operation location="TokenService/getTokenFromTicket"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getTokenFromTicket"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getTokenFromTicket"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateUserWithCredentials">
            <http:operation location="TokenService/authenticateUserWithCredentials"/>
            <wsdl:input>
                <mime:content type="text/xml" part="authenticateUserWithCredentials"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="authenticateUserWithCredentials"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authenticateUser">
            <http:operation location="TokenService/authenticateUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="authenticateUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="authenticateUser"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TokenService">
        <wsdl:port name="TokenServiceSOAP11port_http" binding="tns:TokenServiceSOAP11Binding">
            <soap:address location="http://172.17.128.120:9080/axis2/services/TokenService"/>
        </wsdl:port>
        <wsdl:port name="TokenServiceSOAP12port_http" binding="tns:TokenServiceSOAP12Binding">
            <soap12:address location="http://172.17.128.120:9080/axis2/services/TokenService"/>
        </wsdl:port>
        <wsdl:port name="TokenServiceHttpport" binding="tns:TokenServiceHttpBinding">
            <http:address location="http://172.17.128.120:9080/axis2/services/TokenService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
