processes/TaskManager/src/main/resources/TaskManagerProcess.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
	~ Copyright (c) 2005-2007 Intalio inc.
	~
	~ All rights reserved. This program and the accompanying materials
	~ are made available under the terms of the Eclipse Public License v1.0
	~ which accompanies this distribution, and is available at
	~ http://www.eclipse.org/legal/epl-v10.html
	~
	~ Contributors:
	~ Intalio inc. - initial API and implementation
-->


<!--
	
	* Copyright (c) 2005-2006 Intalio inc.
	
	*
	
	* All rights reserved. This program and the accompanying materials
	
	* are made available under the terms of the Eclipse Public License v1.0
	
	* which accompanies this distribution, and is available at
	
	* http://www.eclipse.org/legal/epl-v10.html
	
	*
	
	* Contributors:
	
	* Intalio inc. - initial API and implementation
	
-->


<wsdl:definitions
	targetNamespace="http://www.intalio.com/bpms/workflow/ib4p_20051115"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/"
	xmlns:b4p="http://www.intalio.com/bpms/workflow/ib4p_20051115"
	xmlns:tms="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/">



	<!-- Properties used for correlations -->



	<bpws:property name="taskId" type="xsd:string" />

	<bpws:property name="processId" type="xsd:string" />

	<!-- Correlations -->



	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:createTaskResponse" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:taskId</bpws:query>

	</bpws:propertyAlias>

	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:escalateTaskRequest" part="root">

		<bpws:query>//b4p:taskId</bpws:query>

	</bpws:propertyAlias>

	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:claimTaskRequest" part="root">

		<bpws:query>//b4p:taskId</bpws:query>

	</bpws:propertyAlias>

	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:revokeTaskRequest" part="root">

		<bpws:query>//b4p:taskId</bpws:query>

	</bpws:propertyAlias>

	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:completeTaskRequest" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:taskId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:notifyTaskCompletionRequest" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:taskId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:nextTaskReady" part="root">

		<bpws:query>//b4p:previousTaskId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:processId"
		messageType="b4p:createTaskRequest" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:processId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:processId"
		messageType="b4p:createTaskResponse" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:processId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:processId"
		messageType="b4p:notifyTaskCompletionRequest" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:processId</bpws:query>

	</bpws:propertyAlias>


	<!-- WSDL Dependencies -->






	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.intalio.com/bpms/workflow/ib4p_20051115">
			<xsd:include schemaLocation="b4p.xsd"></xsd:include>
		</xsd:schema>
	</wsdl:types>



	<!-- Messages -->



	<wsdl:message name="createTaskRequest">

		<wsdl:part name="root" element="b4p:createTaskRequest" />

	</wsdl:message>



	<wsdl:message name="createTaskResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>

	<wsdl:message name="escalateTaskRequest">

		<wsdl:part name="root" element="b4p:escalateTaskRequest" />

	</wsdl:message>

	<wsdl:message name="escalateTaskResponse">

		<wsdl:part name="root" element="b4p:escalateTaskResponse" />

	</wsdl:message>

	<wsdl:message name="claimTaskRequest">

		<wsdl:part name="root" element="b4p:claimTaskRequest" />

	</wsdl:message>

	<wsdl:message name="claimTaskResponse">

		<wsdl:part name="root" element="b4p:claimTaskResponse" />

	</wsdl:message>

	<wsdl:message name="revokeTaskRequest">

		<wsdl:part name="root" element="b4p:revokeTaskRequest" />

	</wsdl:message>

	<wsdl:message name="revokeTaskResponse">

		<wsdl:part name="root" element="b4p:revokeTaskResponse" />

	</wsdl:message>



	<wsdl:message name="completeTaskRequest">

		<wsdl:part name="root" element="b4p:completeTaskRequest" />

	</wsdl:message>



	<wsdl:message name="completeTaskResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>

	<wsdl:message name="skipTaskRequest">

		<wsdl:part name="root" element="b4p:skipTaskRequest" />

	</wsdl:message>



	<wsdl:message name="skipTaskResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>

	<wsdl:message name="notifyTaskCompletionRequest">

		<wsdl:part name="root"
			element="b4p:notifyTaskCompletionRequest" />

	</wsdl:message>



	<wsdl:message name="notifyTaskCompletionResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>


	<wsdl:message name="nextTaskReady">

		<wsdl:part name="root" element="b4p:chainedExecution" />

	</wsdl:message>

	<wsdl:message name="usersAndRoles">

		<wsdl:part name="root" element="b4p:usersAndRoles" />

	</wsdl:message>




	<!-- Port Types -->



	<wsdl:portType name="UserBusinessProcessPortType">

		<wsdl:operation name="createTask">

			<wsdl:input message="b4p:createTaskRequest"
				name="createTaskRequest" />

			<wsdl:output message="b4p:createTaskResponse"
				name="createTaskResponse" />

		</wsdl:operation>

		<wsdl:operation name="escalateTask">

			<wsdl:input message="b4p:escalateTaskRequest"
				name="escalateTaskRequest" />

			<wsdl:output message="b4p:escalateTaskResponse"
				name="escalateTaskResponse" />

		</wsdl:operation>
		
				<wsdl:operation name="skipTask">

			<wsdl:input message="b4p:skipTaskRequest"
				name="skipTaskRequest" />

			<wsdl:output message="b4p:skipTaskResponse"
				name="skipTaskResponse" />

		</wsdl:operation>


	</wsdl:portType>



	<wsdl:portType name="UIFWPortType">

		<wsdl:operation name="completeTask">

			<wsdl:input message="b4p:completeTaskRequest"
				name="completeTaskRequest" />

			<wsdl:output message="b4p:completeTaskResponse"
				name="completeTaskResponse" />

		</wsdl:operation>
		
			<wsdl:operation name="skipTask">

			<wsdl:input message="b4p:skipTaskRequest"
				name="skipTaskRequest" />

			<wsdl:output message="b4p:skipTaskResponse"
				name="skipTaskResponse" />

		</wsdl:operation>


		<wsdl:operation name="claimTask">

			<wsdl:input message="b4p:claimTaskRequest"
				name="claimTaskRequest" />

			<wsdl:output message="b4p:claimTaskResponse"
				name="claimTaskResponse" />

		</wsdl:operation>

		<wsdl:operation name="revokeTask">

			<wsdl:input message="b4p:revokeTaskRequest"
				name="revokeTaskRequest" />

			<wsdl:output message="b4p:revokeTaskResponse"
				name="revokeTaskResponse" />

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:portType name="TMPPortType">

		<wsdl:operation name="nextTaskReady">

			<wsdl:input message="b4p:nextTaskReady"
				name="nextTaskReady" />

		</wsdl:operation>

	</wsdl:portType>




	<!-- SOAP Bindings -->



	<wsdl:binding name="UserBusinessProcessBinding"
		type="b4p:UserBusinessProcessPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="createTask">

			<soap:operation soapAction="createTask" style="document" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="escalateTask">

			<soap:operation soapAction="escalateTask" style="document" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>
		<wsdl:operation name="skipTask">

			<soap:operation soapAction="skipTask" style="document" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>



	<wsdl:binding name="UIFWBinding" type="b4p:UIFWPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="completeTask">

			<soap:operation soapAction="completeTask" style="document" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="claimTask">
			<soap:operation soapAction="claimTask" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="revokeTask">
			<soap:operation soapAction="revokeTask" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
				<wsdl:operation name="skipTask">
			<soap:operation soapAction="skipTask" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:binding name="TMPBinding" type="b4p:TMPPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="nextTaskReady">

			<soap:operation soapAction="nextTaskReady" style="document" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

		</wsdl:operation>

	</wsdl:binding>



	<!-- Services -->



	<wsdl:service name="UserBusinessProcessService">

		<wsdl:port name="UserBusinessProcessPort"
			binding="b4p:UserBusinessProcessBinding">

			<soap:address
				location="http://localhost:8080/ode/processes/workflow/ib4p" />

		</wsdl:port>

	</wsdl:service>


	<wsdl:service name="UIFWService">

		<wsdl:port name="UIFWPort" binding="b4p:UIFWBinding">

			<soap:address
				location="http://localhost:8080/ode/processes/completeTask" />

		</wsdl:port>

	</wsdl:service>
	<wsdl:service name="TMPService">

		<wsdl:port name="TMPPort" binding="b4p:TMPBinding">

			<soap:address
				location="http://localhost:8080/ode/processes/TMP" />

		</wsdl:port>

	</wsdl:service>


</wsdl:definitions>



