processes/TaskManager/src/main/resources/TaskManager.wsdl

<?xml version="1.0" encoding="utf-8" ?>

<!--
	
	* Copyright (c) 2005-2006 Intalio inc.
	
	*
	
	* All rights reserved. This program and the accompanying materials
	
	* are made available under the terms of the Eclipse Public License v1.0
	
	* which accompanies this distribution, and is available at
	
	* http://www.eclipse.org/legal/epl-v10.html
	
	*
	
	* Contributors:
	
	* Intalio inc. - initial API and implementation
	
-->


<wsdl:definitions
	targetNamespace="http://www.intalio.com/bpms/workflow/ib4p_20051115"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/"
	xmlns:b4p="http://www.intalio.com/bpms/workflow/ib4p_20051115"
	xmlns:tms="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/">



	<!-- Properties used for correlations -->



	<bpws:property name="taskId" type="xsd:string" />

	<bpws:property name="processId" type="xsd:string" />



	<!-- WSDL Dependencies -->



	<wsdl:import
		namespace="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/"
		location="TMS.wsdl" />



	<wsdl:types>

		<xsd:schema
			targetNamespace="http://www.intalio.com/bpms/workflow/ib4p_20051115"
			elementFormDefault="qualified">
			
			<!-- this element is necessary for Claims -->
			<xsd:element name="usersAndRoles">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userOwner" minOccurs="0" maxOccurs="unbounded" />
						<xsd:element name="roleOwner" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="completeTaskRequest">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="taskMetaData"
							type="b4p:taskMetaDataType" />

						<xsd:element name="participantToken"
							type="xsd:string" />

						<xsd:element name="taskOutput" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="createTaskRequest">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="taskMetaData"
							type="b4p:taskMetaDataType" />

						<xsd:element name="participantToken"
							type="xsd:string" />

						<xsd:element name="taskInput" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="escalateTaskRequest">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="taskId" type="xsd:string" />

						<xsd:element name="userOwner" type="xsd:string" />

						<xsd:element name="roleOwner" type="xsd:string" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="escalateTaskResponse">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="status" type="xsd:string" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="claimTaskRequest">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="taskId" type="xsd:string" />

						<xsd:element name="claimerUser" type="xsd:string" />

						<xsd:element name="participantToken" type="xsd:string" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="claimTaskResponse">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="status" type="xsd:string" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="revokeTaskRequest">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="taskId" type="xsd:string" />

						<xsd:element name="participantToken" type="xsd:string" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="revokeTaskResponse">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="status" type="xsd:string" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="initProcessRequest">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="taskId" type="xsd:string" />

						<xsd:element name="participantToken"
							type="xsd:string" />

						<xsd:element name="taskOutput" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="initProcessResponse">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="status" type="xsd:string" />

						<xsd:element name="errorCode" type="xsd:string"
							minOccurs="0" />

						<xsd:element name="errorReason"
							type="xsd:string" minOccurs="0" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="notifyTaskCompletionRequest">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="taskMetaData"
							type="b4p:taskMetaDataType" />

						<xsd:element name="taskOutput" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:element name="response">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="taskMetaData"
							type="b4p:taskMetaDataType" />

						<xsd:element name="status" type="xsd:string" />

						<xsd:element name="errorCode" type="xsd:string"
							minOccurs="0" />

						<xsd:element name="errorReason"
							type="xsd:string" minOccurs="0" />

						<xsd:element name="isChainedAfter"
							type="xsd:boolean" minOccurs="0" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>


			<xsd:element name="chainedExecution">

				<xsd:complexType>

					<xsd:sequence>

						<xsd:element name="previousTaskId"
							type="xsd:string" minOccurs="0" />

						<xsd:element name="nextTaskId" type="xsd:string"
							minOccurs="0" />

						<xsd:element name="nextTaskURL"
							type="xsd:string" minOccurs="0" />

					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>

			<xsd:complexType name="taskMetaDataType">

				<xsd:sequence>

					<xsd:element name="taskId" type="xsd:string" />

					<xsd:element name="taskState" type="xsd:token" />

					<xsd:element name="taskType" type="xsd:token" />

					<xsd:element name="description" type="xsd:string" />

					<xsd:element name="processId" type="xsd:string" />

					<xsd:element name="creationDate"
						type="xsd:dateTime" />

					<xsd:element name="userOwner" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0" />

					<xsd:element name="roleOwner" type="xsd:string"
						maxOccurs="unbounded" minOccurs="0" />

					<xsd:element name="formUrl" type="xsd:anyURI" />

					<xsd:element name="failureCode" type="xsd:string" />

					<xsd:element name="failureReason" type="xsd:string" />

					<xsd:element name="userEndpoint" type="xsd:string" />

					<xsd:element name="userProcessEndpoint"
						type="xsd:string" />

					<xsd:element name="userProcessNamespaceURI"
						type="xsd:string" />

					<xsd:element name="userProcessCompleteSOAPAction"
						type="xsd:string" />

					<xsd:element name="isChainedBefore"
						type="xsd:boolean" minOccurs="0" />

					<xsd:element name="previousTaskId" type="xsd:string"
						minOccurs="0" />

					<xsd:element name="nextTaskId" type="xsd:string"
						minOccurs="0" />

				</xsd:sequence>

			</xsd:complexType>

		</xsd:schema>

	</wsdl:types>



	<!-- Messages -->



	<wsdl:message name="initProcessRequest">

		<wsdl:part name="root" element="b4p:initProcessRequest" />

	</wsdl:message>



	<wsdl:message name="initProcessResponse">

		<wsdl:part name="root" element="b4p:initProcessResponse" />

	</wsdl:message>



	<wsdl:message name="createTaskRequest">

		<wsdl:part name="root" element="b4p:createTaskRequest" />

	</wsdl:message>



	<wsdl:message name="createTaskResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>

	<wsdl:message name="escalateTaskRequest">

		<wsdl:part name="root" element="b4p:escalateTaskRequest" />

	</wsdl:message>

	<wsdl:message name="escalateTaskResponse">

		<wsdl:part name="root" element="b4p:escalateTaskResponse" />

	</wsdl:message>

	<wsdl:message name="claimTaskRequest">

		<wsdl:part name="root" element="b4p:claimTaskRequest" />

	</wsdl:message>

	<wsdl:message name="claimTaskResponse">

		<wsdl:part name="root" element="b4p:claimTaskResponse" />

	</wsdl:message>
	
	<wsdl:message name="revokeTaskRequest">

		<wsdl:part name="root" element="b4p:revokeTaskRequest" />

	</wsdl:message>

	<wsdl:message name="revokeTaskResponse">

		<wsdl:part name="root" element="b4p:revokeTaskResponse" />

	</wsdl:message>	

	<wsdl:message name="completeTaskRequest">

		<wsdl:part name="root" element="b4p:completeTaskRequest" />

	</wsdl:message>



	<wsdl:message name="completeTaskResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>



	<wsdl:message name="notifyTaskCompletionRequest">

		<wsdl:part name="root"
			element="b4p:notifyTaskCompletionRequest" />

	</wsdl:message>



	<wsdl:message name="notifyTaskCompletionResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>


	<wsdl:message name="nextTaskReady">

		<wsdl:part name="root" element="b4p:chainedExecution" />

	</wsdl:message>

	<wsdl:message name="usersAndRoles">

		<wsdl:part name="root" element="b4p:usersAndRoles" />

	</wsdl:message>


	<!-- Correlations -->



	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:createTaskResponse" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:taskId</bpws:query>

	</bpws:propertyAlias>

	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:escalateTaskRequest" part="root">

		<bpws:query>//b4p:taskId</bpws:query>

	</bpws:propertyAlias>

	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:claimTaskRequest" part="root">

		<bpws:query>//b4p:taskId</bpws:query>

	</bpws:propertyAlias>
	
	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:revokeTaskRequest" part="root">

		<bpws:query>//b4p:taskId</bpws:query>

	</bpws:propertyAlias>	

	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:completeTaskRequest" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:taskId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:notifyTaskCompletionRequest" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:taskId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:taskId"
		messageType="b4p:nextTaskReady" part="root">

		<bpws:query>//b4p:previousTaskId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:processId"
		messageType="b4p:createTaskRequest" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:processId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:processId"
		messageType="b4p:createTaskResponse" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:processId</bpws:query>

	</bpws:propertyAlias>



	<bpws:propertyAlias propertyName="b4p:processId"
		messageType="b4p:notifyTaskCompletionRequest" part="root">

		<bpws:query>//b4p:taskMetaData/b4p:processId</bpws:query>

	</bpws:propertyAlias>



	<!-- Port Types -->



	<wsdl:portType name="userProcessPortType">

		<wsdl:operation name="createTask">

			<wsdl:input message="b4p:createTaskRequest"
				name="createTaskRequest" />

			<wsdl:output message="b4p:createTaskResponse"
				name="createTaskResponse" />

		</wsdl:operation>

		<wsdl:operation name="escalateTask">

			<wsdl:input message="b4p:escalateTaskRequest"
				name="escalateTaskRequest" />

			<wsdl:output message="b4p:escalateTaskResponse"
				name="escalateTaskResponse" />

		</wsdl:operation>

		<wsdl:operation name="notifyTaskCompletion">

			<wsdl:input message="b4p:notifyTaskCompletionRequest"
				name="notifyTaskCompletionRequest" />

			<wsdl:output message="b4p:notifyTaskCompletionResponse"
				name="notifyTaskCompletionResponse" />

		</wsdl:operation>

	</wsdl:portType>



	<wsdl:portType name="uifwPortType">

		<wsdl:operation name="completeTask">

			<wsdl:input message="b4p:completeTaskRequest"
				name="completeTaskRequest" />

			<wsdl:output message="b4p:completeTaskResponse"
				name="completeTaskResponse" />

		</wsdl:operation>

		<wsdl:operation name="claimTask">

			<wsdl:input message="b4p:claimTaskRequest"
				name="claimTaskRequest" />

			<wsdl:output message="b4p:claimTaskResponse"
				name="claimTaskResponse" />

		</wsdl:operation>

		<wsdl:operation name="revokeTask">

			<wsdl:input message="b4p:revokeTaskRequest"
				name="revokeTaskRequest" />

			<wsdl:output message="b4p:revokeTaskResponse"
				name="revokeTaskResponse" />

		</wsdl:operation>

	</wsdl:portType>



	<wsdl:portType name="initProcessPortType">

		<wsdl:operation name="initProcess">

			<wsdl:input message="b4p:initProcessRequest"
				name="initProcessRequest" />

			<wsdl:output message="b4p:initProcessResponse"
				name="initProcessResponse" />

		</wsdl:operation>

	</wsdl:portType>


	<wsdl:portType name="taskManagerPortType">

		<wsdl:operation name="nextTaskReady">

			<wsdl:input message="b4p:nextTaskReady"
				name="nextTaskReady" />

		</wsdl:operation>

	</wsdl:portType>



	<!-- SOAP Bindings -->



	<wsdl:binding name="userProcessSoapBinding"
		type="b4p:userProcessPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="createTask">

			<soap:operation soapAction="createTask" style="document" />

			<wsdl:input>

				<soap:body use="literal"
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124" />

			</wsdl:input>

			<wsdl:output>

				<soap:body
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124"
					use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="escalateTask">

			<soap:operation soapAction="escalateTask" style="document" />

			<wsdl:input>

				<soap:body use="literal"
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124" />

			</wsdl:input>

			<wsdl:output>

				<soap:body
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124"
					use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="notifyTaskCompletion">

			<soap:operation soapAction="notifyTaskCompletion"
				style="document" />

			<wsdl:input>

				<soap:body use="literal"
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124" />

			</wsdl:input>

			<wsdl:output>

				<soap:body
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124"
					use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>



	<wsdl:binding name="uifwSoapBinding" type="b4p:uifwPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="completeTask">

			<soap:operation soapAction="completeTask" style="document" />

			<wsdl:input>

				<soap:body use="literal"
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124" />

			</wsdl:input>

			<wsdl:output>

				<soap:body
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124"
					use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="claimTask">
			<soap:operation soapAction="claimTask" style="document" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="revokeTask">
			<soap:operation soapAction="revokeTask" style="document" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124" />
			</wsdl:input>
			<wsdl:output>
				<soap:body
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>



	<wsdl:binding name="initProcessSoapBinding"
		type="b4p:initProcessPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="initProcess">

			<soap:operation soapAction="initProcess" style="document" />

			<wsdl:input>

				<soap:body use="literal"
					namespace="http://www.intalio.com/bpms/workflow/ib4p_20051115" />

			</wsdl:input>

			<wsdl:output>

				<soap:body
					namespace="http://www.intalio.com/bpms/workflow/ib4p_20051115"
					use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>


	<wsdl:binding name="taskManagerSoapBinding"
		type="b4p:taskManagerPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="nextTaskReady">

			<soap:operation soapAction="nextTaskReady" style="document" />

			<wsdl:input>

				<soap:body use="literal"
					namespace="http://www.intalio.com/bpms/workflow/taskManager_20051124" />

			</wsdl:input>

		</wsdl:operation>

	</wsdl:binding>



	<!-- Services -->



	<wsdl:service name="createTaskService">

		<wsdl:port name="userProcessPort"
			binding="b4p:userProcessSoapBinding">

			<soap:address
				location="http://localhost:8080/ode/processes/workflow/ib4p" />

		</wsdl:port>

	</wsdl:service>


	<wsdl:service name="notifyTaskCompletionService">

		<wsdl:port name="userProcessPort"
			binding="b4p:userProcessSoapBinding">

			<soap:address
				location="http://localhost:8080/fds/workflow/ib4p" />

		</wsdl:port>

	</wsdl:service>



	<wsdl:service name="completeTaskService">

		<wsdl:port name="uifwPort" binding="b4p:uifwSoapBinding">

			<soap:address
				location="http://localhost:8080/ode/processes/completeTask" />

		</wsdl:port>

	</wsdl:service>


	<wsdl:service name="nextTaskReadyService">

		<wsdl:port name="taskManagerPort"
			binding="b4p:taskManagerSoapBinding">

			<soap:address
				location="http://localhost:8080/ode/processes/nextTaskReady" />

		</wsdl:port>

	</wsdl:service>


	<!-- Partner Link Types -->



	<plnk:partnerLinkType name="userProcessPartnerLinkType">

		<plnk:role name="taskManager"
			portType="b4p:userProcessPortType" />

		<plnk:role name="userProcess"
			portType="b4p:userProcessPortType" />

	</plnk:partnerLinkType>



	<plnk:partnerLinkType name="uifwPartnerLinkType">

		<plnk:role name="taskManager" portType="b4p:uifwPortType" />

		<plnk:role name="uifw" portType="b4p:uifwPortType" />

	</plnk:partnerLinkType>



	<plnk:partnerLinkType name="TMSPartnerLinkType">

		<plnk:role name="taskManager"
			portType="tms:TaskManagementServices" />

		<plnk:role name="TMS" portType="tms:TaskManagementServices" />

	</plnk:partnerLinkType>



	<plnk:partnerLinkType name="initProcessPartnerLinkType">

		<plnk:role name="userProcess"
			portType="b4p:initProcessPortType" />

		<plnk:role name="TMS" portType="b4p:initProcessPortType" />

	</plnk:partnerLinkType>



	<plnk:partnerLinkType name="taskManagerPartnerLinkType">

		<plnk:role name="previousTaskManager"
			portType="b4p:taskManagerPortType" />
		<plnk:role name="nextTaskManager"
			portType="b4p:taskManagerPortType" />

	</plnk:partnerLinkType>



</wsdl:definitions>



