processes/TaskManager/src/main/resources/UserBusinessProcess.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<!--
	~ Copyright (c) 2005-2007 Intalio inc.
	~
	~ All rights reserved. This program and the accompanying materials
	~ are made available under the terms of the Eclipse Public License v1.0
	~ which accompanies this distribution, and is available at
	~ http://www.eclipse.org/legal/epl-v10.html
	~
	~ Contributors:
	~ Intalio inc. - initial API and implementation
-->


<!--
	
	* Copyright (c) 2005-2006 Intalio inc.
	
	*
	
	* All rights reserved. This program and the accompanying materials
	
	* are made available under the terms of the Eclipse Public License v1.0
	
	* which accompanies this distribution, and is available at
	
	* http://www.eclipse.org/legal/epl-v10.html
	
	*
	
	* Contributors:
	
	* Intalio inc. - initial API and implementation
	
-->


<wsdl:definitions targetNamespace="http://www.intalio.com/bpms/ubp"
	xmlns:ubp="http://www.intalio.com/bpms/ubp"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/"
	xmlns:b4p="http://www.intalio.com/bpms/workflow/ib4p_20051115"
	xmlns:b4px="java:org.intalio.tempo.workflow.processes.xpath.UIDs"
	xmlns:tms="http://www.intalio.com/BPMS/Workflow/TaskManagementServices-20051109/">





	<!-- WSDL Dependencies -->



	<wsdl:types>

		<xsd:schema targetNamespace="http://www.intalio.com/bpms/ubp">
			<xsd:import schemaLocation="b4p.xsd"
				namespace="http://www.intalio.com/bpms/workflow/ib4p_20051115">
			</xsd:import>

		</xsd:schema>
	</wsdl:types>



	<!-- Messages -->










	<wsdl:message name="createTaskRequest">

		<wsdl:part name="root" element="b4p:createTaskRequest" />

	</wsdl:message>



	<wsdl:message name="createTaskResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>

	<wsdl:message name="escalateTaskRequest">

		<wsdl:part name="root" element="b4p:escalateTaskRequest" />

	</wsdl:message>

	<wsdl:message name="escalateTaskResponse">

		<wsdl:part name="root" element="b4p:escalateTaskResponse" />

	</wsdl:message>















	<wsdl:message name="notifyTaskCompletionRequest">

		<wsdl:part name="root"
			element="b4p:notifyTaskCompletionRequest" />

	</wsdl:message>



	<wsdl:message name="notifyTaskCompletionResponse">

		<wsdl:part name="root" element="b4p:response" />

	</wsdl:message>




	<wsdl:message name="usersAndRoles">

		<wsdl:part name="root" element="b4p:usersAndRoles" />

	</wsdl:message>


	<!-- Correlations -->




	<!-- Port Types -->



	<wsdl:portType name="userProcessPortType">

		<wsdl:operation name="createTask">

			<wsdl:input message="ubp:createTaskRequest"
				name="createTaskRequest" />

			<wsdl:output message="ubp:createTaskResponse"
				name="createTaskResponse" />

		</wsdl:operation>

		<wsdl:operation name="escalateTask">

			<wsdl:input message="ubp:escalateTaskRequest"
				name="escalateTaskRequest" />

			<wsdl:output message="ubp:escalateTaskResponse"
				name="escalateTaskResponse" />

		</wsdl:operation>

		<wsdl:operation name="notifyTaskCompletion">

			<wsdl:input message="ubp:notifyTaskCompletionRequest"
				name="notifyTaskCompletionRequest" />

			<wsdl:output message="ubp:notifyTaskCompletionResponse"
				name="notifyTaskCompletionResponse" />

		</wsdl:operation>

	</wsdl:portType>


	<!-- SOAP Bindings -->



	<wsdl:binding name="userProcessSoapBinding"
		type="ubp:userProcessPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="createTask">

			<soap:operation soapAction="createTask" style="document" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="escalateTask">

			<soap:operation soapAction="escalateTask" style="document" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="notifyTaskCompletion">

			<soap:operation soapAction="notifyTaskCompletion"
				style="document" />

			<wsdl:input>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>
			<wsdl:fault name="taskDeadlineReached">
				<soap:fault name="taskDeadlineReached" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>







	<!-- Services -->





	<wsdl:service name="UserBusinessProcessesServices">

		<wsdl:port name="userProcessPort"
			binding="ubp:userProcessSoapBinding">

			<soap:address
				location="http://localhost:8080/fds/workflow/ib4p" />

		</wsdl:port>

	</wsdl:service>












</wsdl:definitions>



