PierreThings/SITA/processes.ode/forms/ShiftCreationLight.gi/IntalioInternal/FormModel.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:us="http://www.intalio.com/UserSchema" xmlns:ShiftCreationLight="http://www.intalio.com/gi/forms/ShiftCreationLight.gi" targetNamespace="http://www.intalio.com/gi/forms/ShiftCreationLight.gi" elementFormDefault="unqualified">
  <xs:element name="FormModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:date" name="startDate"/>
        <xs:element type="xs:string" name="startTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>